<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Pages</title>
</head>
<body>
    
    <h2 class="text-center m-5">Pages Table</h2>

    <div class="">
        <table class="table">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>url</th>
                <th>parent_id</th>
                <th>parent_url</th>
                <th>depth</th>
            </tr>
            {% for page in pages_objects %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td><a href="{{ page.url }}">{{ page.url }}</a></td>
                <td>{{ page.parent_id }}</td>
                <td><a href="{{ page.parent_url }}">{{ page.parent_url }}</a></td>
                <td>{{ page.depth }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


</body>
</html>