<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Tags</title>
</head>
<body>
    
    <h2 class="text-center m-5">Tags Table</h2>

    <div>
        <table class="table ">
            <tr>
                <th>id</th>
                <th>tag</th>
                <th>contnt</th>
                <th>page_id</th>
                <th>page_url</th>
            </tr>
            {% for tag in tags_objects %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.tag }}</td>
                <td>{{ tag.content }}</td>
                <td>{{ tag.page_id }}</td>
                <td><a href="{{ tag.page_url }}">{{ tag.page_url }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>


</body>
</html>